.DS_Store
Pods/

# Sourcery
AVTest/Sourcery/Generated/*.generated.swift
AVTest.xcworkspace/xcuserdata/*.xcuserdatad
AVTest/Sourcery/Configuration/sourcery.yml
AVTest/Sourcery/Configuration/sourcery.yml
